.active-category {
  background-color: #172b4d;
  color: white !important;
}

.category {
  border-radius: 20px;
  padding: 12px;
  color: black;
}

.category-wrapper {
  display: flex;
  justify-content: space-around;
  border-radius: 40px;
  background-color: #F6F7F9;
}

.header-content{
    margin-bottom: 30px;
}

.header-content-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.header-content-text-central{
    font-size: 32px;
    font-weight: 800;
    margin: 0;
}